extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/old-style.css")

block content
	h1= title
	p sessionID: #{sessionID}
	ul
	each val, key in session
		unless (typeof val === 'function' || typeof val === 'object')
			li #{key}: #{val}
	p messages: 
	ul
	each val, key in session.messages
		unless (typeof val === 'function' || typeof val === 'object')
			li #{key}: #{val}
	p cookie:
	ul
	each val, key in session.cookie
		unless (typeof val === 'function' || typeof val === 'object')
			li #{key}: #{val}